# Data
data/synthetic_logs.csv
data/ground_truth.csv
data/uploads/

# Python
backend/.venv/
backend/src/socrates/ml/models/
**/__pycache__/
*.pyc
*.pyo
.env

# Frontend
frontend/node_modules/
frontend/.next/

# Jupyter
data/.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb_checkpoints
